.form-container {
    @include flexbox(flex, center, space-around);
    gap: 5rem;
    height: 90%;
    margin: 2rem;
    padding: 2rem;
    overflow: scroll;

    .form {
        border: 1px solid $base_color_pink;
        border-radius: 20px;
        padding: 0.5rem;
        flex:5;

        .input-item {
            margin: 0.5rem;
            width: 90%;

            label {
                @include font($roboto-mono, $light, $xs);
                padding-bottom: 0.5rem;
                display: inline-block;
                clear: left;
                text-align: center;
                width: 100%;
            }

            input{
                @include form-input;
                display: inline-block;
                width: 100%;

                &:focus {
                    background: $base_color_pink;
                }
                @include tablet {
                    height: 0.5rem;
                 }
                @include mobile {
                   height: 0.5rem;
                }
             }
             
        }
        .art-details {
            @include flexbox(flex, center, center);
            width: 94%;

            input{
                @include form-input;
                display: inline-block;
                &:focus {
                    background: $base_color_pink;
                }
                width: 80%;
                @include laptop {
                    width: 65%;
                 }
            }
            
            .input-item {
                width: 90%;
                border: none !important;

                .dropdown-input {    
                    @include form-input;        
                    border: none !important;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
                    line-height: 1rem;
                    padding: 0;
                    background-color: $base_color !important;

                    .css-13cymwt-control {
                        border: none !important;

                        &:hover {
                            border: none !important;
                        }
                    }

                    .css-t3ipsp-control {
                        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
                        border:none !important;
                        &:hover {
                            border:none !important;
                        }
                        &:focus {
                            background-color: $light_purple !important;
                        }
                    }
                    
                    .css-d7l1ni-option {
                        background-color: $base_color;
                        &:hover {
                            background-color: $base_color_pink;
                        }
                    }
                    .css-tr4s17-option{
                        background-color: $dark_magenta;
                        
                    }
                    &::-webkit-scrollbar { 
                        display: none !important; 
                    }
                                 
                }
            }

            @include laptop {
                width: 100%;
            }    
        }
        .art-details-types {
            @include flexbox(flex, center, center);
            width: 94%;

            label {
                @include font($roboto-mono, $light, $xs);
                padding-bottom: 0.5rem;
                display: inline-block;
                clear: left;
                text-align: center;
                width: 94%;
            }
            
            .input-item {
                width: 90%;
                border: none !important;

                .dropdown-input {    
                    @include form-input;        
                    border: none !important;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
                    line-height: 1rem;
                    padding: 0;
                    background-color: $base_color !important;

                    .css-13cymwt-control {
                        border: none !important;

                        &:hover {
                            border: none !important;
                        }
                    }

                    .css-t3ipsp-control {
                        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
                        border:none !important;
                        &:hover {
                            border:none !important;
                        }
                        &:focus {
                            background-color: $light_purple !important;
                        }
                    }

                    .css-d7l1ni-option {
                        background-color: $base_color;
                        &:hover {
                            background-color: $base_color_pink;
                        }
                    }

                    .css-tr4s17-option{
                        background-color: $dark_magenta;
                        
                    }

                    &::-webkit-scrollbar { 
                        display: none !important; 
                    }
                                 
                }
            }
    
            @include laptop {
                width: 100%;
            }    
        }

        .error {
            @include font($roboto-mono, $normal, $xxs);
            text-align: center;
            color: tomato;
        }
        @include tablet {
           height: 30%;
           border:none;
        }
        @include mobile {
            height: 50%;
            border:none;
         }
    }

    @include laptop {
        flex-direction: row;
    }

    @include tablet {
        gap: 1rem;
        flex-direction: column;
    }
    @include mobile {
        gap: 0.5rem;
        flex-direction: column;
    }

    &::-webkit-scrollbar { 
        display: none;
    }
}