.buttons {
    @include flexbox(flex, stretch, center);
    gap:2rem;
    width: 80%;

    button {
        @include upload-btn; 
    
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 48.05%, rgba(255, 255, 255, 0.20) 48.90%), linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 78.91%, rgba(255, 255, 255, 0.22) 100%);
        box-shadow: 0px 14px 20px 0px rgba(193, 169, 169, 0.5);
        font-size: $s_mobile; 
        flex: 1;

        &#cancel {
            &:hover {
                background: linear-gradient(180deg, rgba(146, 135, 144, 0.9) 0%, rgba(237, 146, 215, 0.00) 40.39%), radial-gradient(281.59% 122.01% at 96.89% 70.83%, #966669 0%, #9f5151 100%);
            } 
        }
   
        &#save {
         
            &:hover {
                background: linear-gradient(180deg, rgba(108, 118, 113, 0.9) 0%, rgba(237, 146, 215, 0.00) 40.39%), radial-gradient(281.59% 122.01% at 96.89% 70.83%, #477669 0%, #1b654f 100%);
            }
        }

        &:hover {
            color: $base_color;
            background: linear-gradient(180deg, rgba(131, 118, 128, 0.9) 0%, rgba(237, 146, 215, 0.00) 40.39%), radial-gradient(281.59% 122.01% at 96.89% 70.83%, #775170 0%, #682e64 100%);
        }
    }
    .gray-bg {
        background-color: rgb(200, 197, 197);
        color: gray;

        &:hover {
            background-color: rgb(200, 197, 197);

        }
    }
}

div {
    .spinner {
        color: $magenta;
        text-align: center;
    }
}