.buttons {
    @include flexbox(flex, center, center);
    gap:2rem;
    width: 90%;

    button {
        @include upload-btn; 
        @include dim(8rem, 2rem);
        @include bigger-laptop() {
            font-size: $xs_mobile; 
        }
        @include laptop-height() {
            font-size: $xs_mobile; 
        }
        font-size: $xxs; 

        &#cancel:hover {
            background-color: $danger_color;
        } 

      

        &#save:hover {
            background-color: $success_color;
        }
        &:hover {
            background-color: $purple;
        }
    }
    .gray-bg {
        background-color: rgb(200, 197, 197);
        color: gray;

        &:hover {
            background-color: rgb(200, 197, 197);

        }
    }
}

div {
    .spinner {
        color: $magenta;
        text-align: center;
    }
}