.image-container {
    flex:1;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 1px dashed $grayish_purple;
  
    .upload-container {
        @include flexbox-direction(flex, center, column, space-around);
        gap:1rem;

        .drag-icon {
            @include dim(2.5rem, 2.5rem);
            color:$dark_magenta;
            cursor: pointer;
        }

        p {
            @include font($roboto-mono, $light, $xxs);
            text-align: center;

            @include laptop {
                font-size: 0.55rem;
            }
        }

        .input-upload {
            display: none;
        }

        .upload-btn {
            @include upload-btn;
        }

        @include bigger-laptop {
            gap:0.5rem;
            padding: 1.5rem 0.5rem;
            margin-top: 0rem;
        }
        @include laptop {
            gap:0.25rem;
            padding: 1.5rem 0.5rem;
            margin-top: 0rem;
        }
        @include mobile {
            gap:0.25rem;
            padding: 1rem 0.5rem;
            margin-top: 0rem;
        }
       
    }
    .upload-container-none {
        display: none;
    }
    .img-wrapper {
        @include flexbox-direction(flex, end, column, end);
        width: auto;
        height: auto;

        .img-uploaded {
            box-sizing: border-box;
            object-fit: cover;
            border-radius: 10px; 
            max-width:100%;
            max-height:100%;
            margin: auto;
            display: block;

            &:hover {
                filter: blur(0.75px); 
                cursor: pointer;
            }

            @include tablet {
                max-width:100%;
                max-height:100%;
                width: 50%;
                height: 60%;
            }
            @include mobile {
                max-width:100%;
                max-height:100%;
                width: 50%;
                height: 50%;
            }
        }
    
        .remove-icon {
            @include dim(1.5rem, 1.5rem);
            cursor: pointer;
            color:$grayish_purple;
           
    
            @include tablet {
                @include dim(2rem, 2rem);
            }
            @include mobile {
                @include dim(1.75rem, 1.75rem);
            }
        }
    }
    
    @include tablet {
        max-width:100%;
        max-height:100%;
        width: 80%;
        height: 80%;
    }

    @include mobile {
        max-width:100%;
        max-height:100%;
        width: 80%;
        height: 50%;
    }   
 }

