.sidebar {
    background-color: $light_purple;
    border-radius: 50px 0px 0px 50px;
    flex: 1;
    border-right: 1px solid lightgray;

    .navbar {
        @include flexbox(flex, center, flex-start);
        background-color: $pale_purple;
        height: 10%;
        border-radius: 20px 0px 0px 0px;
        overflow: hidden;
        border-bottom: 1px solid lightgray;
        padding-left: 10%;
        margin:auto;

        .all-conversations {
            @include font($roboto-mono, $regular, $s);
            letter-spacing: -0.133333px;
            color: $magenta;
            padding-left: 10%;
        }
        .conversations {
            @include dim(2rem, 2rem);
        }

      
        button {
            @include border-outline-none;
            padding: 2.5% 5%;
            margin-right: 2%;
            color: $pale_purple;
            background-color: $magenta;
            cursor: pointer;
            border-radius: 10px;
        }
    }

    .search {
        border-bottom: 1px solid lightgray;
        color: black;
        outline: none;

        .search-form {
            @include flexbox(flex, center, left);
            padding: 1rem 0 1rem 2rem;
            gap: 10%;

            input {
                @include border-outline-none;
                padding: 0.8rem 0 0.5rem 5rem;
                background-color: transparent;
                color: $magenta;
                font-size: $xs;

            }

            input::placeholder {
                color: $grayish_blue;
                font-size: $xs;
            }    
        }
        .user-chat {
            @include flexbox (flex, center, left);
            @include font($roboto-mono, $regular, $l);
            padding: 1rem 1rem 1rem 2rem;
            gap: 0.5rem;
            color: $magenta;
            cursor: pointer;
            

            &:hover {
                background-color: $pale_purple;
            }

            img {
                @include dim (3rem, 3rem);
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid $grayish_purple;
            }

            .user-chat-info {
                padding-left: 1.5rem;
                width: 50%;

                span {
                    font-size: $m;
                }

                p {
                    @include font($roboto-mono, $normal, $xxs);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                }
            }
        }
        .not-found {
            padding: 0 0 0.5rem 8rem;
            color: #c61a09;
            font-weight: $regular;
            font-size: $xs;
        }
        
    }
    .chats {
        height: 80%;
        overflow-x: hidden;
        overflow-y: visible;
        background-color: $light_purple;

        .user-chat {
            @include flexbox (flex, center, left);
            @include font($roboto-mono, $regular, $l);
            padding: 1rem 1rem 1rem 2rem;
            gap: 0.5rem;
            color: $magenta;
            cursor: pointer;
            

            &:hover {
                background-color: $pale_purple;
            }

            img {
                @include dim (3rem, 3rem);
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid $grayish_purple;
            }

            .hide {
                display: none;
            }

            .user-chat-info {
                padding-left: 1.5rem;
                width: 50%;

                span {
                    font-size: $m;
                }

                p {
                    @include font($roboto-mono, $normal, $xxs);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                }
            }
        }
        &::-webkit-scrollbar { 
            display: none;
        }
    }
}