@import '../index.scss';
@import './work.scss';

.works-container {
    background-color: $base_color;
    height: 90vh;
    overflow-y: scroll;
        &::-webkit-scrollbar { 
            display: none;
         }
    
     .works-title{
        @include font($brittany, normal, $xxl);
        text-align: center;
        color: $dark_magenta;
        letter-spacing: 0.3rem;     
    }

    .works-wrapper {
        @include flexbox-direction(flex, flex-start, column, space-between);
        gap: 3rem;
        margin-top: 10rem;
        border-radius: 50px;
        background-color: $base_color;
        height:250%;
       
        .exhibition-wrapper {
            @include flexbox(flex, flex-start, space-between);
            gap: 2rem;
            height: 200%;
            max-width: 1400px;
            overflow-x:scroll;   
            overflow-y: hidden;
            margin: 0 auto;

             &::-webkit-scrollbar { 
               display: none;
            }

            @include monitor {
                max-width: 1400px;
                height: 200%;
            }
        }
    }
}
   