@import '../index.scss';
@import './work.scss';

.works-container {
    @include flexbox(flex, center, space-around);
    background-color: $base_color;
    height: 90vh;
    flex: 5;
   
    .works-wrapper {
        @include dim (98.5%, 97.5%);
        border-radius: 50px;
        background-color: $base_color;
        overflow: scroll;

        &::-webkit-scrollbar { 
            display: none;
        }

        .exhibition-wrapper {
            width: 95%;
            height: 70vh;
        }
    }
}
   