@import '../index.scss';
@import './register-expert-user.scss';
@import './register_first_step.scss';
   

.form-container {
    height: 100vh;
    background-image: url("../../images/background/background.png");
    background-size: cover;

    .logo {
        @include dim(18rem, 12rem);
    }
}