.form-container {
    @include flexbox(flex, center, space-around);
    gap: 5rem;
    height: 90%;
    margin: 2rem;
    padding: 2rem;
    overflow: scroll;

    .form {
        border: 1px solid $base_color_pink;
        border-radius: 20px;
        padding: 0.5rem;
        flex:5;


        .input-item {
            margin: 0.5rem;
            width: 90%;

            label {
                @include font($roboto-mono, $light, $xs);
                padding-bottom: 0.5rem;
                display: inline-block;
                clear: left;
                text-align: center;
                width: 100%;
            }

            input{
                @include form-input;
                display: inline-block;
                width: 100%;

                &:focus {
                    background: $base_color_pink;
                }
                @include tablet {
                    height: 0.5rem;
                 }
                @include mobile {
                   height: 0.5rem;
                }
             }
             
        }
        .art-details {
            @include flexbox(flex, center, center);
            width: 90%;

            input{
                @include form-input;
                display: inline-block;
                &:focus {
                    background: $base_color_pink;
                }
                width: 80%;
                @include laptop {
                    width: 65%;
                 }
            }
            
            .input-item {
                width: auto;
                .dd-header {
                    @include dd-header;       
                }
                .dd-list{
                    @include dd-list;       
                }
                option{
                    border: none;
                    @include dim(3rem, 3rem);
                }
            }

            @include laptop {
                width: 100%;
            }    
        }
        .art-details-types {
            @include flexbox(flex, center, center);
            width: 100%;

            label {
                @include font($roboto-mono, $light, $xs);
                padding-bottom: 0.5rem;
                display: inline-block;
                clear: left;
                text-align: left;
                width: 100%;
            }
    
            input{
                @include form-input;
                display: inline-block;
                &:focus {
                    background: $base_color_pink;
                }
                width: 100%;
                @include laptop {
                    width: 65%;
                 }
            }
            
            .input-item {
                width: auto;
                .dd-header {
                    @include dd-header;       
                }
                .dd-list{
                    @include dd-list;       
                }
                option{
                    border: none;
                    @include dim(5rem, 5rem);
                }
            }
    
            @include laptop {
                width: 100%;
            }    
        }
    }

    @include laptop {
        flex-direction: row;
    }

    @include tablet {
        margin: 0.25rem;
        padding: 0.5rem;
        gap: 1rem;
        flex-direction: column;
    }
    @include mobile {
        margin: 0.15rem;
        padding: 0.25rem;
        gap: 0.5rem;
        flex-direction: column;
    }

    &::-webkit-scrollbar { 
        display: none;
    }
}