.buttons {
    @include flexbox(flex, center, center);
    margin-top: 2rem;
    gap:1rem;

    button {
        @include upload-btn; 
        @include dim(6em, 2rem);
    }
    .cancel {
        &:hover {
            background-color: orange;
        }
    }

    .save {
        &:hover {
            background-color: green;
        }
      
    }
}