.image-container {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='21' ry='21' stroke='%23BBAED1FF' stroke-width='4' stroke-dasharray='11%2c 9' stroke-dashoffset='34' stroke-linecap='square'/%3e%3c/svg%3e");
    flex:1;
    border-radius: 21px;
    padding: 0.05rem 2rem;
  
    .upload-container {
        @include flexbox-direction(flex, center, column, space-around);
        gap:1rem;
        padding: 4.5rem 0.5rem;
        margin-top: 1rem;

        .drag-icon {
            @include dim(2.5rem, 2.5rem);
            color:$dark_magenta;
            cursor: pointer;
        }

        p {
            @include font($roboto-mono, $light, $xxs);
        }

        .input-upload {
            display: none;
        }

        .upload-btn {
            @include upload-btn;
        }

        @include bigger-laptop {
            gap:0.5rem;
            padding: 1.5rem 0.5rem;
            margin-top: 0rem;
        }
        @include laptop {
            gap:0.25rem;
            padding: 1.5rem 0.5rem;
            margin-top: 0rem;
        }
        @include mobile {
            gap:0.25rem;
            padding: 1rem 0.5rem;
            margin-top: 0rem;
        }
       
    }
    .upload-container-none {
        display: none;
    }

    .img-uploaded {
        @include dim (100%, 100%);
        object-fit: cover;
        border-radius: 21px; 

    }

    .remove-icon {
        @include dim(2.5rem, 2.5rem);
        top:30rem;
        right:77.5rem;
        cursor: pointer;

        @include tablet {
            @include dim(2rem, 2rem);
        }
        @include mobile {
            @include dim(1.75rem, 1.75rem);
        }
    }

    @include bigger-laptop {
        @include dim(10.35rem, 10.35rem);
    }
    @include laptop {
        @include dim(10.35rem, 10.35rem);
    }
  
    @include tablet {
        @include dim(9.5rem, 9.5rem);
    }
    @include mobile {
        @include dim(8.5rem, 9rem);

    }
       
 }

