@import '../index.scss';
@import './artworks/image_upload.scss';
@import './artworks/artwork_form.scss';
@import './artworks/buttons.scss';
@import './artworks/manage_artworks.scss';
@import './exhibition/index.scss';

.gallery-container {
    @include flexbox(flex, center, space-between);
    background-color: $base_color;
    height: 90vh;
    width: 100%;
    flex: 5;
   
    .gallery-wrapper {
        @include flexbox(flex, center, center);
        @include dim (98.5%, 97.5%);
        @include tablet() {
            width: 100%;
        }
        display: flex;
        overflow: scroll;

        &::-webkit-scrollbar { 
            display: none;
        }
    }
}
   