$roboto-mono: 'Roboto Mono', sans-serif;
$brittany: 'Brittany Signature', sans-serif;
$frank-ruhl-libre:  'Frank Ruhl Libre', serif;
$longa-iberica: 'Longa Iberica', sans-serif;
$optima: 'Optima', sans-serif;

$light  : 300;
$normal : 400;
$medium : 600;
$regular: 700;
$bold   : 900;

$xxs_mobile : 0.4rem;
$xs_mobile  : 0.5rem;
$s_mobile   : 0.6rem;
$xxs        : 0.7rem;
$xs         : 0.8rem;
$s          : 0.9rem;
$m          : 1.0rem;
$l          : 1.2rem;
$xl         : 1.4rem;
$xxl        : 2.0rem;

$base_color             :  #FFFFFF !default;
$base_color_transparent :  rgb(231,228,238, 0.9);
$base_color_pink        :  #eedfe5 !default;
$base_color_light       : rgb(231,228,238, 0.2);

$light_purple           :  #F3EFFA !default;
$medium_purple          :  #af92c6 !default;
$light_grayish_purple   :  #f5e6fe !default;
$grayish_purple         :  #BBAED1 !default;
$grayish_pink           :  #B396A8 !default;
$grayish_blue           :  #6E6D91 !default;
$purple                 :  #AF92C6 !default;
$magenta                :  #6D398E !default;
$dark_magenta           :  #532351 !default;
$pale_purple            :  #EFE7FF !default;
$pale_grayish_purple    :  rgb(187,174,209, 0.2);
$success_color          :  #9AB0A6;
$danger_color           :  #C47A7A;
$grayish_light          : rgb(231,228,238, 0.25);
$grayish_normal         : rgb(231,228,238, 0.5);


$text-white             :  #FFF9FD !default;
$text_purple            :  #6E6D90 !default;
$text_magenta           :  #6D398E !default;
$text_black             :  #000000 !default;
