@import "./mixins.scss";
@import "./variables.scss";

body > {
    #root > {
         div {
            height: 100vh;
        }
    }
}

body {
    margin: 0;
    .App-header {
        @include font($roboto-mono, $light, $m);
        @include dim (100%, 100%);
        background: $base_color;
        overflow: hidden;
        margin: 0;

        div{
            .current-user {
                @include dim (3rem, 3rem);
                position: absolute;
                margin: 2rem 3rem;
                top: 0;
                right: 0;
                border-radius: 50px;
                object-fit: cover;
                border: 2px solid $magenta;
                cursor: pointer;
    
                @include mobile() {
                    @include dim (2rem, 2rem);
                    margin: 1rem;
                }
            }

            .dropdown-menu {
                @include flexbox-direction(flex, center, column, space-around);
                position: absolute;
                margin: 5rem 2.75rem 2rem 2rem;
                top: 0;
                right: 0;

                @include mobile() {
                    @include dim (1rem, 1rem);
                    margin: 4rem 1.55rem 1rem 1rem;
                }
                .dropdown-menu-item {
                    @include dim (2.5rem, 2.5rem);
                    color: $purple;
                    padding: 1rem;

                    @include mobile() {
                       @include dim(1rem, 1rem);
                    }
                }
            }
        }
    }
   
}


