@import "./variables.scss";
@import './mixins.scss';

.home {
    @include flexbox(flex, center, space-between);
    background-color: $base_color;
    height: 100vh;

    .navbar {
        flex:6;
    }
}