@import './index.scss';

.form-container {
    @include flexbox-direction(flex, center, row, space-between);
    @include dim(100%, 100%);

    .form-wrapper {
        @include center;
        width: 74%;
        flex: 2 1 auto;
        
        .logo {
            @include dim(10rem, 10rem);
            
            @include monitor() {
                @include dim(18rem, 18rem);
            }
        }

        .form {
            @include flexbox-direction(flex, center, column, space-around);
            padding: 0.5rem;
            
            div {
                .input-icons {
                    i {
                        @include dim(1rem, 1rem);
                        position: absolute;
                        padding:1.25rem 0 0 1.75rem;
                        color: $magenta;

                        @include monitor() {
                           padding:1.5rem 0 0 2rem;
                        }
                    }
    
                    input {
                        @include font($roboto-mono, $light, $xxs);
                        @include border-outline-none;
                        @include dim(20rem, 2.8rem); 
                        color: $magenta;
                        letter-spacing: 1px;
                        margin: 1% 1% 2% 1%;
                        background: $light_grayish_purple;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 20px;
                        padding-left: 5rem;
        
                        &::placeholder {
                            color: $magenta;
                            opacity: 1;
                            font-size: $xs;
                        }
        
                        @include monitor() {
                            @include dim(30rem, 3rem);
                            font-size: $m;
                        }
                    }
                }
            }

            label {
                @include flexbox (flex, center, space-between);
                gap: 1.5rem;
                margin-top: 1rem;

                img {
                    @include dim(3rem, 3rem);
                }

                span {
                    color: $magenta;
                    font-size: $xs;
                }
            }

            button {
                @include font(FontAwesome, $normal, $m);
                @include dim(25rem, 3rem);
                color: $base_color;
                letter-spacing: -0.133333px;
                margin: 2rem 0 0 0.5rem;
                background: $magenta;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: none;
                border-radius: 10px;
                cursor: pointer;
                text-align: center;

                .text {
                    @include font($roboto-mono, $regular, $m);       
                    letter-spacing: -0.133333px;
                    color: $base_color;
                    margin-right: 1.5rem;

                    @include monitor() {
                        font-size: 1.2rem;
                    }
                }
                .arrow-right {
                    @include dim(1.2rem, 1.2rem);
                    color: $base_color;
                    margin-right: 1rem;
                }

                @include monitor() {
                    @include dim(35rem, 3rem);
                    font-size: $l;
                }
            }

            span {
                color: red;
                font-size: $xs;
            }
        }

        p {
            @include font($roboto-mono, $normal, $xs); 
            text-align: center;
            letter-spacing: -0.133333px;
            color: $grayish_blue;

            .link {
                color: $grayish_pink;
                font-weight: $medium;
                text-decoration: none;
                
                &:hover {
                    color: $magenta;
                }
            }
            @include monitor() {
                font-size: $s;
            }
        }

        div {
            .spinner {
                color: $magenta;
            }
        }
    }

    .image-wrapper {
        @include image(background);
        @include dim (26%, 100%);
        flex: 1 1 auto;
        background-size: 100% 100%;

        @include mobile() {
            display: none;
        }

        @include tablet() {
            display: none;
        }

        @include monitor() {
            @include image(background-big);
        }
    }
}