@import '../index.scss';
@import './artist.scss';

.artists-container {
    @include flexbox(flex, center, space-between);
    height: 90vh;
    flex: 5;
   
    .artists-wrapper {
        @include flexbox(flex, center, space-between);
        flex-wrap: wrap;
        @include dim (98.5%, 97.5%);
        border-radius: 50px;
        overflow: scroll;

        &::-webkit-scrollbar { 
            display: none;
        }
    }
}
   
