@import "../index.scss";
@import "./navbar.scss";
@import "./sidebar.scss";
@import "./submenu.scss";

.home {
    @include flexbox(flex, center, space-between);
    background-color: $base_color;
    height: 100vh;

    .content {
        max-width: 100%;
        width: 90%;
    }
    .home-container {
        @include flexbox(flex, center, space-between);
        background-color: $base_color;
        max-width: 90%;
    }
}