@import "../index.scss";
@import "./navbar.scss";
@import "./sidebar.scss";
@import "./submenu.scss";

.home {
    @include flexbox(flex, center, space-between);
    background-color: $base_color;
    height: 100vh;

    .content {
        flex:6;
    }
    .home-container {
        @include flexbox(flex, center, space-between);
        background-color: $base_color;
        height: 90vh;
        flex: 5;
       
        .home-wrapper {
            @include dim (98.5%, 97.5%);
            border: 1px solid $purple;
            border-radius: 50px;
            display: flex;
            overflow: hidden;
            background-color: $light_purple;
        }
    }
}