@import "../index.scss";

.home-navbar {
    @include flexbox(flex, center, space-between);
    padding: 0 1.5rem 0 0; 
  
    .navbar {
        @include flexbox(flex, center, center);
        gap: 1rem;
       
        .link {
            @include flexbox(flex, center, center);
            text-decoration: none;
            @include font($brittany, $regular, $m);
            cursor: pointer;
            border-radius: 10px;
            letter-spacing: 2px;

            img {
                padding-left: 0.5rem;
                @include dim(1.5rem, 1.5rem);
            }
            .works {
                padding: 0.3rem 1.2rem;
            }
      
            .artists {
                padding: 0.3rem 1.2rem;
            }

          &:hover {
            color:$dark_magenta;
            font-weight: $bold;
            background-color: rgb(174,145,197, 0.3);
           }
           &:focus {
            color:$dark_magenta;
            font-weight: $bold;
            background-color: rgb(174,145,197, 0.3);
           }
        }
    }
}