@import "../index.scss";

.home-sidebar {
    height: 100vh;
    background-color: $light_purple;
    border-radius: 10px;
    margin-right: 1rem;
    flex:1.1;

    .sidebar-header {
        @include flexbox(flex, center, space-around);
       
        .logo-wrapper {
            margin:auto;
            width: 50%;
            .logo {
                @include dim(6rem, 6rem);
                padding: 0.5rem 0 7.5rem 0;
                cursor: pointer;
                
                @include monitor() {
                    @include dim(7rem, 7rem);
                }
            }
        }
        .menu-icon {
            @include dim(2rem, 2rem);
            color: $dark_magenta;
            padding-bottom: 12rem;
            cursor: pointer;
            padding-top:2rem;
            &:hover {
                color: $purple;
            }
        }
      
        .close-icon {
            @include close-button;
            @include dim(1.5rem, 1.5rem);
            padding:0 1rem 10rem 0;
            cursor: pointer;
        }
        
    }
   
    .sidebar-menu {
        @include flexbox-direction(flex, left, column, space-between);
        gap:2rem;
        cursor: pointer;
        
        .link {
            text-decoration: none;
            color: $magenta;
        }
        .sidebar-menu-item {
            @include flexbox(flex, center, flex-start);
            gap:2rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin: 0 2.5rem 0 2rem;

            .sidebar-img {
                @include dim(1.5rem, 1.5rem);
                color:$magenta;
            }

            span {
                font-size:$m;
            }
            &:hover {
                font-weight: $regular;
                background-color: rgb(174,145,197, 0.3);
                border-radius: 5px;

            }
        }
        .hidden-sidebar-item {
            padding: 0.25rem 0.75rem;
            margin: 0 0.5rem 0 0.25rem;

            .sidebar-img {
                @include dim(1.5rem, 1.5rem);
            }
        }
    }
}
.hidden-sidebar {
    flex: none;
}