@import "../index.scss";

.home-sidebar {
    height: 100vh;
    background-color: $light_purple;
    border-radius: 10px;
    margin-right: 1rem;
    flex:1.1;

    .logo-wrapper {
        margin:auto;
        width: 50%;
        .logo {
            @include dim(7rem, 7rem);
            padding: 0.5rem 0 3rem 0;
            cursor: pointer;
            
            @include monitor() {
                @include dim(8rem, 8rem);
            }
        }
    }

    .sidebar-menu {
        @include flexbox-direction(flex, left, column, space-between);
        gap:2rem;
        cursor: pointer;
        
        .link {
            text-decoration: none;
            color: $magenta;
        }
        .sidebar-menu-item {
            @include flexbox(flex, center, flex-start);
            gap:3rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin: 0 2.5rem 0 2rem;

            img {
                @include dim(2rem, 2rem);
            }

            span {
                font-size:$l;
            }
            &:hover {
                font-weight: $regular;
                background-color: rgb(174,145,197, 0.3);
                border-radius: 100px;

            }
        }
    }
}