.menu-header {
  float: right;

  .dropdown-menu {
    @include flexbox-direction(flex, center, column, space-evenly);
    @include dim(1rem, 1rem);
    width: 1rem;
    transition: ease-in-out all 0.4s;
    display: table;
    position: absolute;
    bottom: 4rem;

    .icon {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      opacity: 1;
    }

    @include mobile() {
      @include dim(1rem, 1rem);
      margin: 4rem 0.5rem 1rem 1rem;
    }
    @include tablet() {
      @include dim(1rem, 1rem);
      margin: 7rem 3rem 1rem 1rem;
    }
    @include laptop() {
      @include dim(1rem, 1rem);
      margin: 7rem 3rem 0 0rem;
    }
    @include bigger-laptop() {
      @include dim(1rem, 1rem);
      margin: 6.5rem 3rem 0 0rem;
    }
    @include monitor() {
      @include dim(1rem, 1rem);
      margin: 6.5rem 3em 0 0rem;
    }

    .signout-btn {
      @include dim(1.5rem, 1.5rem);
      background-color: $medium_purple;
      color: $base_color;
      transform: rotate(180deg);

      @include mobile() {
        @include dim(1rem, 1rem);
      }

      &:hover {
        background-color: $dark_magenta;
        color: $base_color_pink;
      }
    }
    .account-btn {
      @include dim(1.5rem, 1.5rem);
      background-color: $medium_purple;
      color: $base_color;
      padding: 1rem;
      margin: 0.5rem 0;

      @include mobile() {
        @include dim(1rem, 1rem);
      }

      &:hover {
        background-color: $dark_magenta;
        color: $base_color_pink;
      }
    }
  }
}
