.dropdown-menu {
    @include flexbox-direction(flex, center, column, space-evenly);
    position: absolute;
    margin: 0.5rem 4.5rem 0 0;
    top: 0;
    right: 0;
    width: 15rem;
    list-style: none;
    transition: ease-in-out all .4s;
    display: table;

    &:hover {
        width: 7.5rem;
        opacity: 1;
      }

    @include mobile() {
        @include dim (1rem, 1rem);
        margin: 4rem 1.55rem 1rem 1rem;
    }

    @include monitor() {
        @include dim(1rem, 1rem);
        margin: 1rem 4.6rem 0 0rem;
     }

    .signout-btn{
        @include dim (2.5rem, 2.5rem);
        background-color: $medium_purple;
        color: $base_color;
        margin-bottom: 1rem;
        transform: rotate(180deg);
        

        @include mobile() {
           @include dim(1rem, 1rem);
        }

        &:hover {
            background-color: $dark_magenta;
            color: $base_color_pink;
           
        }
    }
    .account-btn{
        @include dim (2.5rem, 2.5rem);
        background-color: $medium_purple;
        color: $base_color;
        padding: 1rem;
        margin-bottom: 0.5rem;

        @include mobile() {
           @include dim(1rem, 1rem);
        }

        &:hover {
            background-color: $dark_magenta;
            color: $base_color_pink;
        }
    }
}