.dropdown-menu-gallery {
    @include flexbox-direction(flex, center, column, space-around);
    position: absolute;
    top: 13rem;
    right: 82.5rem;
    width: 30px;
    gap: 1rem;
   
    &:hover {
        opacity: 1;
      }

    @include mobile() {
        @include dim (1rem, 1rem);
        top: 15rem;
        right: 19rem;
    }

    @include monitor() {
        @include dim (1rem, 1rem);
        top: 16rem;
        right: 105rem;
     }
     @include bigger-laptop() {
        top: 13rem;
        right: 80rem;
     }
     @include laptop() {
        top: 13rem;
        right: 60rem;
     }

    .add-btn{
        @include dim (2.5rem, 2.5rem);
        background-color: $medium_purple;
        color: $base_color;
        padding: 1rem;
        margin-bottom: 0.5rem;
        overflow: hidden;

        @include mobile() {
           @include dim(1rem, 1rem);
        }

       

        &:hover {
            background-color: $dark_magenta;
            color: $base_color_pink;
        }
    }
    .account-btn{
        @include dim (2.5rem, 2.5rem);
        background-color: $medium_purple;
        color: $base_color;
        padding: 1rem;

        @include mobile() {
           @include dim(1rem, 1rem);
        }

        &:hover {
            background-color: $dark_magenta;
            color: $base_color_pink;
        }
    }
}

.hidden-sidebar{
    top: 15rem;
    right: 91rem;

    ._add-btn{
        @include dim (1.75rem, 1.5rem);
    }
    
    ._account-btn{
        @include dim (1.75rem, 1.5rem);
    }
    @include monitor() {
        top: 16.5rem;
        right: 115rem;
     }
     @include bigger-laptop() {
        top: 15rem;
        right: 88.5rem;
     }
     @include laptop() {
        top: 15rem;
        right: 69rem;
     }
     @include tablet() {
        top: 15rem;
        right: 42.5rem;
     }
     @include mobile() {
        top: 16.5rem;
        right: 31rem;
     }
}
