.exhibition-card-wrapper{
    @include flexbox(flex, center, space-between);
    width: 100%;
    height: 40vh;
    margin:1rem;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #EBEBF4;
   
    .vertical-title {
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin:0;
        color: $dark_magenta;
        letter-spacing: 0.7rem;

        @include mobile {
            letter-spacing: 0.25rem;
        }
    }

    .img-wrapper {
        background: #FFFFFF;
        box-shadow: 2px 4px 4px rgba(52, 43, 89, 0.25);
        border-radius: 15px;
        width: 90%;
        height: 100%;
        text-align: right;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        margin-right: 2rem;

        .see-exhibition {
            @include font ($roboto-mono, $regular, $m);
            color: $dark_magenta;
            padding: 1rem;
        }
    }

    @include monitor {
        height: 60vh;
        width: 100%;
    }
    @include laptop {
        height: 60vh;
        width: 100%;
    }
    @include tablet {
        height: 40vh;
        width: 100%;
    }
    @include mobile {
        height: 30vh;
        width: 100%;
    }
}