.exhibition-card-wrapper{
    @include flexbox(flex, start, space-between);
    height:250%;
    width:100%;

    .img-wrapper {
        border-radius: 15px;
        width: 720px;
        height: 500px;
        text-align: right;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include flexbox-direction(flex, end, column, space-between);
        

        @include monitor {
            width: 680px;
            height: 465px;
        }
        @include bigger-laptop {
            width: 620px;
            height: 420px;
        }
        @include laptop {
            width: 480px;
            height: 330px;
        }
        @include tablet {
            width: 580px;
            height: 400px;
        }
        @include mobile {
            width: 350px;
            height: 250px;
        }

        .see-exhibition {
            @include font ($roboto-mono, $regular, $m);
            color: $dark_magenta;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                color: $magenta;
            }
        }

        .info-wrapper {
            width: 100%;
            background: rgba(0,0,0,0.5);
            border-radius: 30px;
            color: $base_color;
            height: 25%;
            @include flexbox(flex, center, space-around);
        }
    }
  

    @include monitor {
        height:200%;
        width:100%;
    }
    @include bigger-laptop {
        height:200%;
        width:100%;
    }
    // @include laptop {
    //     height: 60vh;
    //     width: 100%;
    // }
    // @include tablet {
    //     height: 40vh;
    //     width: 100%;
    // }
    // @include mobile {
    //     height: 30vh;
    //     width: 100%;
    // }
}