.exhibition-card-wrapper{
    @include flexbox(flex, flex-start, space-between);
    height:200%;
    font-size: $xxs;

    .img-wrapper {
        @include flexbox-direction(flex, flex-end, column, space-between);
        border-radius: 15px;
        height: 350px;
        text-align: right;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-height: 100%;
        width: 495px;

        @include monitor {
            width: 700px;
            height: 465px;
        }
        @include bigger-laptop {
            width: 620px;
            height: 420px;
        }
        @include laptop {
            width: 480px;
            height: 330px;
        }
        @include tablet {
            width: 580px;
            height: 400px;
        }
        @include mobile {
            width: 350px;
            height: 250px;
        }

        .see-exhibition {
            @include font ($roboto-mono, $regular, $m);
            color: $dark_magenta;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                color: $magenta;
            }
            .open_expo {
                font-size: 2rem;
                color: $dark_magenta;
                &:hover {
                    color: $purple;
                }
            }
        }

        .info-wrapper {
            width: 100%;
            background: rgba(0,0,0,0.5);
            border-radius: 30px 30px 20px 20px;
            color: $base_color;
            height: 25%;
            @include flexbox(flex, center, space-around);


            .info-profile {
            @include flexbox-direction(flex, center, column, space-around);


            .profile-info {
                width: 100%;
                @include flexbox(flex, center, space-between);
            }
            }
        }
    }
  

    @include monitor {
        height:200%;
        width:100%;
    }
    @include bigger-laptop {
        height:200%;
        width:100%;
    }
}