#exhibition-form-container {
  @include flexbox-direction(flex, center, column, flex-start);

  #exhibition-form {
    min-height: 100%;
    @include flexbox-direction(flex, center, column, space-between);
  }
}

.exhibition-form-container {
  @include flexbox-direction(flex, center, column, flex-start);

  @include tablet {
    gap: 1rem;
  }
  @include mobile {
    gap: 0.5rem;
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  gap: 0.5rem;
  min-height: 95%;
  overflow: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .form {
    @include flexbox-direction(flex, center, column, space-between);
    height: 75%;
    width: 100%;
    gap: 1rem;

    .inputs {
      @include flexbox-direction(flex, center, column, flex-start);
      padding: 0.5rem;
      padding-top: 1.5rem;
      box-sizing: border-box;
      gap: 1rem;
      border: none;
      width: 100%;

      .input-item {
        width: 100%;
        box-sizing: border-box;
        font-size: $s_mobile;

        label {
          @include font($roboto-mono, $light, $s_mobile);
          display: inline-block;
          clear: left;
          text-align: center;
        }

        input {
          @include form-input;
          display: inline-block;
          width: 90%;

          @include tablet {
            height: 0.5rem;
          }
          @include mobile {
            height: 0.5rem;
          }
        }
      }

      .art-details {
        @include flexbox(flex, center, space-between);
        width: 100%;
        gap: 2rem;

        input {
          @include form-input;
          display: inline-block;
          box-sizing: border-box;
        }

        .input-item {
          border: none !important;

          .dropdown-input {
            @include form-input;
            padding: 0;
            z-index: 99999999;

            .css-13cymwt-control {
              border: none !important;
              z-index: 0;
              background-color: transparent !important;

              &:hover {
                border: none !important;
              }
            }

            .css-t3ipsp-control {
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
              border: none !important;
              background-color: transparent !important;

              &:hover {
                border: none !important;
              }
              &:focus {
                background-color: $light_purple !important;
              }
            }

            .css-d7l1ni-option {
              background-color: transparent;
              &:hover {
                background-color: $base_color_pink;
              }
            }
            .css-tr4s17-option {
              background-color: $dark_magenta;
            }
            &::-webkit-scrollbar {
              display: none !important;
            }
          }
        }

        @include laptop {
          width: 100%;
        }
      }
      .art-details-types {
        @include flexbox(flex, center, space-between);
        width: 100%;
        gap: 1rem;

        label {
          @include font($roboto-mono, $light, $xs);
          padding-bottom: 0.5rem;
          display: inline-block;
          clear: left;
          text-align: center;
        }

        .input-item {
          border: none !important;

          .dropdown-input {
            @include form-input;
            padding: 0;
            width: 100%;
            background-color: transparent;

            .css-13cymwt-control {
              border: none !important;
              background-color: transparent !important;

              &:hover {
                border: none !important;
              }
            }

            .css-1nmdiq5-menu {
              border: none;
              border: 1px solid $base_color_pink;
              border-top: none;
              background-color: $base_color_transparent !important;
            }

            .css-t3ipsp-control {
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
              border: none !important;
              background-color: transparent !important;

              &:hover {
                border: none !important;
              }
              &:focus {
                background-color: transparent !important;
              }
            }

            .css-d7l1ni-option {
              background-color: transparent;
              z-index: 99999999;
              border: none !important;

              &:hover {
                background-color: $base_color_pink;
              }
            }

            .css-tr4s17-option {
              background-color: $dark_magenta;
            }

            &::-webkit-scrollbar {
              display: none !important;
            }
          }
        }

        @include laptop {
          width: 100%;
        }
      }

    }
    .select_artworks {
      font-size: $s_mobile;
    }

    .artworks_container {
      border: 1px solid $grayish_pink;
      @include flexbox-direction(flex, flex-start, column,  space-between);
      gap: 1rem;
      border-radius: 10px;
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      font-size: $s_mobile;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    
      div {
        @include flexbox(flex, center, space-between);
        gap: 0.5rem;
      
        .artwork_photo {
          width: 8rem;
          height: 8rem;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
    .error {
      @include font($roboto-mono, $normal, $xs);
      text-align: center;
      color: tomato;
    }
  }
}
