@import './header.scss';
@import './card.scss';
@import './actions.scss';
@import './datepicker.scss';

.exhibition-wrapper {
    width: 100%;
    height: 100%;

    p {
        @include font($roboto-mono, $regular, $l);
        text-align: center;
        padding: 1rem;
    }
}