@import "../index.scss";

.home-sidebar {
    @include flexbox-direction(flex, center, column, space-between);
    @include mobile() {
        width: 15%;
    }
    height: 100vh;
    background-color:$grayish_normal;
    border-radius: 0 10px 10px 0;
    padding-bottom: 1.5rem;
    flex:1.1;

    .sidebar-header {
        @include flexbox(flex, center, space-around);
        flex:0;
        
        .logo-wrapper {
            margin:auto;
            width: 50%;
            .logo {
                @include dim(2em, 3rem);
                padding: 0.5rem 0 2.5rem 0;
                cursor: pointer;
                
                @include monitor() {
                    @include dim(2rem, 2.5rem);
                }
            }
        }
        .logo {
            @include dim(3rem, 3rem);
            padding: 2rem 0.5rem 2.5rem 0.5rem;
            cursor: pointer;
        }
        
        .menu-icon {
            @include dim(3.5rem, 3.5rem);
            color: $base_color;
            padding-bottom: 12rem;
            cursor: pointer;
            padding-top:2rem;
            &:hover {
                color: $base_color_pink;
            }
        }
      
        .close-icon {
            @include close-button;
            @include dim(1.5rem, 1.5rem);
            padding:0 1rem 10rem 0;
            cursor: pointer;
        }
        
    }
   
    .sidebar-menu {
        @include flexbox-direction(flex, center, column, flex-start);
        gap:2rem;
        cursor: pointer;
        flex:1;
        
        .link {
            text-decoration: none;
            color: $base_color;
        }
        .sidebar-menu-item {
            @include flexbox(flex, center, flex-start);
            gap:2rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin: 0 3.5rem 0 2rem;

            .sidebar-img {
                @include dim(1rem, 1rem);
                color:$magenta;
            }

            span {
                font-size:$m;
            }
            &:hover {
                font-weight: $regular;
                border-radius: 5px;

            }
        }
        .hidden-sidebar-item {
            padding: 0.25rem 0.75rem;
            margin: 0 0.5rem 0 0.25rem;

            .sidebar-img {
                @include dim(1rem, 1rem);
                color:$magenta;

            }
        }
    }
    .sidebar-footer {
        flex:0;
    }
}

.hidden-sidebar {
    flex: none;
}