@import "./user_card.scss";

.user-profile {
  @include flexbox-direction(flex, flex-start, column, space-between);
  width: 100%;
  height: 100%;
  gap: 1rem;

  .header-wrapper {
    @include flexbox-direction(flex, center, column, flex-start);
    flex: 0;
    padding-top: 1rem;
    box-sizing: border-box;
    width: 100%;

    .header {
      @include flexbox(flex, center, center);
      .user-image {
        @include dim(6rem, 6rem);
        margin: 0 1rem 1.5rem 0;
        border-radius: 100px;
        object-fit: cover;
        border: 1px solid $dark_magenta;

        &:hover {
          filter: blur(0.75px);
        }
      }
      .file-input-btn {
        position: relative;
        color: $magenta;
        cursor: pointer;
        z-index: 2;
        left:-20%;

        @include bigger-laptop() {
          top: 35.5%;
          left: 15.5%;
        }
        &:hover {
          color: $medium_purple;
        }

        .edit-btn {
          cursor: pointer;
          @include dim(1rem, 1rem);

          &:hover {
            color: $dark_magenta;
          }
        }
      }

      .upload-btn {
        @include upload-btn;
      }

      .username {
        @include font($optima, $bold, $l);
        letter-spacing: 2px;
        color: $magenta;
      }
      .abstract-icon {
        @include dim(2rem, 2rem);
        border-radius: 0;
        border: 0;
      }
    }

    .user-sections {
      @include flexbox(flex, center, space-between);
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      font-size: $xxs;
      width: 100%;

      .user-section {
        padding: 0.5rem;
        box-sizing: border-box;
        margin: 1rem;
        border-radius: 10px;
        flex: 1 1 0;
        width: 80%;
        text-align: center;
        opacity: 0.9;
        border-bottom: 2px solid #8f8cc2;

        &:hover {
          cursor: pointer;
        }
      }
      .selected {
        border-bottom: 2px solid $dark_magenta;
        background: linear-gradient(to top, $base_color_transparent, $base_color);
      }
    }
  }

  .user-info {
    box-sizing: border-box;
    margin: 0 2rem;
    width: 100%;
    flex: 1;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
