.user-card {
  @include flexbox-direction(flex, flex-start, column, flex-start);
  width: 95%;
  height: 100%;
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: $grayish_normal;
  box-sizing: border-box;
  overflow: scroll;

  .details {
    @include flexbox-direction(flex, flex-start, column, space-between);

    @include tablet() {
      @include flexbox-direction(flex, flex-start, column, space-between);
    }
    width: 100%;
    gap: 3rem;
    padding: 0 3rem;

    .details-header {
      @include flexbox(flex, center, space-between);
      gap: 10rem;
      width: 100%;
      cursor: pointer;

      .details-header-item {
        @include flexbox(flex, center, center);
        gap: 1rem;
        width: 100%;

        span {
          @include font($roboto-mono, $regular, $xxs);
          color: $dark_magenta;
          padding-bottom: 0.2rem;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          text-align: center;

          &:hover {
            color: $purple;
          }
        }

        .tab-selected {
          background-color: $grayish_purple;
          &:hover {
            color: $base_color_transparent;
          }
        }

        .edit-btn {
          @include dim(1rem, 1rem);
          color: $medium_purple;
          cursor: pointer;
          padding-bottom: 0.2rem;

          &:hover {
            color: $dark_magenta;
          }
        }
      }
    }

    .details-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: 100%;

      span {
        @include font($roboto-mono, $normal, $s_mobile);
        // border: 1px solid $purple;
        background-color: $base_color_transparent;
        padding: 1rem;
        border-radius: 10px;
        width: 80%;
      }

      .social-links {
        @include flexbox(flex, center, flex-start);
        gap: 2rem;
        cursor: pointer;

        .instagram {
          @include dim(1.25rem, 1.25rem);
          color: $grayish_pink;
        }

        .youtube {
          @include dim(1.5rem, 1.5rem);
          color: $magenta;
        }

        .blog {
          @include dim(1rem, 1rem);
          color: $dark_magenta;
        }
      }
    }
  }
}
