@import './user_card.scss';

.user-profile {
    @include flexbox(flex, center, space-between);
    width: 100%;
    padding: 2rem;

    .header {
        @include flexbox-direction(flex, center,column, flex-start);
        flex: 1;
        img {
            @include dim (8rem, 8rem);
            margin: 0 1rem 1.5rem 0;
            border-radius: 100px;
            object-fit: cover;
            border: 1px solid $dark_magenta;
        }

        .username {
            @include font($roboto-mono, $bold, $l);
            color: $magenta;
            padding: 0 1rem 0 1rem;
        }

        .edit-btn {
            @include dim(1rem, 1rem);
            color: $medium_purple;
            cursor: pointer;
            
            &:hover {
                color: $magenta;
            }
        }
    }
}