@import './user_card.scss';

.user-profile {
    @include flexbox-direction(flex, flex-start,column, space-around);
    width: 100%;
    padding: 2rem;

    span {
        @include font($roboto-mono, $regular, $xl);
        color: $magenta;
        margin-left:1.25rem;
    }
    
    .title {
        padding-left: 2rem;
    }

    .header {
        @include flexbox(flex, center, flex-start);

        img {
            @include dim (10rem, 10rem);
            margin: 1.5rem 0 1.5rem 1.5rem;
            border-radius: 100px;
            object-fit: cover;
            border: 1px solid $dark_magenta;
        }

        .username {
            @include font($roboto-mono, $bold, $l);
            color: $magenta;
            padding-right: 1rem;
        }

        .edit-btn {
            @include dim(1.5rem, 1.5rem);
            color: $magenta;
        }
    }
}